<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="News">
    <meta name="author" content="">
    <title><!--news_title--></title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<!--navbar-->
這裡跟新聞那個導航用一樣的,再加購物車等按鈕
<div class="row">
    <div class="row">
        <div class="col-md-2 text-center"><!--left--></div>
        <div class="col-md-8 text-center">
            <!--這裡一行就可以了，不用那麼多品類-->
            <div class="col-md-2">家電</div>
            <div class="col-md-2">書籍</div>
            <div class="col-md-2">.col-md-1</div>
            <div class="col-md-2">.col-md-1</div>
            <div class="col-md-2">.col-md-1</div>
            <div class="col-md-2">.col-md-1</div>


            這裡一個像新聞一樣的滾動
        </div>
        <div class="col-md-2 text-center"><!--right--></div>
    </div>
</div>
<div class="row">
    <div class="row">
        <div class="col-md-2 text-center"><!--left--></div>
        <div class="col-md-8 text-center">
            <!--商品列表-->
            <div class="col-md-2"><img src="..." alt="..." class="img-thumbnail"></div>
            <div class="col-md-2"><img src="..." alt="..." class="img-thumbnail"></div>
            <div class="col-md-2"><img src="..." alt="..." class="img-thumbnail"></div>
            <div class="col-md-2"><img src="..." alt="..." class="img-thumbnail"></div>
            <div class="col-md-2"><img src="..." alt="..." class="img-thumbnail"></div>
            <div class="col-md-2"><img src="..." alt="..." class="img-thumbnail"></div>
        </div>
        <div class="col-md-2 text-center"><!--right--></div>
    </div>
</div>
</body>
</html>